@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace; /*"Montserrat", sans-serif;*/
  font-weight: 700;
  color: white;
}

body {
  /* background-color: #111111; */
  background-position: center;
  background-position-x: 45rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/background.png);
  background-color: #0d1116;

  height: 100% !important;
  margin: 0;
  padding: 3rem 0 3rem 0;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

/* Altura */
body::-webkit-scrollbar-thumb {
  height: 10px; /* Altura da alça da barra de rolagem */
}

/* 

body::-webkit-scrollbar-track {
  /*background: orange;         color of the tracking area 
} */

body::-webkit-scrollbar-thumb {
  background-color: #6800ca; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

.titulo,
.subtitulo {
  color: #6800ca;
}

.titulo {
  font-size: 5rem;
  font-family: monospace;
  width: 9ch;
  border-right: 1rem solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(8), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

.subtitulo {
  width: 18ch;
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

#label-cep {
  font-weight: bold;
  font-size: 20px;
}

.content {
  max-width: 100vw;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  padding: 15rem 0rem 0rem 0rem;
  margin-bottom: 15%;
  width: 60rem;
  height: 30rem;
  /* border-radius: 1rem; */
  /* padding-left: -8rem; */
  justify-content: center;
}

.card-consulta {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}

.input-cep {
  display: flex;
  align-items: center;
}

.botao-google-maps {
  border: thin;
  background-color: transparent;
  width: 1.5rem;
  height: 2rem;
  transition-duration: 2s;
  transform-origin: 0% 0%;
  margin-left: 5px;
}

.botao-copia {
  background-color: transparent;
  border: thin;
  margin-right: 15%;
}

.popup {
  display: none;
  position: absolute;
  background-color: #40004d;
  color: white;
  border: thin;
  border-radius: 5%;
  padding: 5px;
  width: 5rem;
  font-size: 10px;
  font-weight: bold;
  top: -3rem; /* Posiciona o pop-up acima do botão */
  left: 50%; /* Posiciona o pop-up no centro horizontal do botão */
  transform: translateX(-50%); /* Alinha o pop-up horizontalmente com o botão */
  animation: fadeInAnimation ease 1s;
}

.botao-google-maps img {
  width: 2rem;
  height: 2.5rem;
}

#elemento-pai {
  border-radius: 15px;
  margin: 3rem 0rem 2rem 0rem;
  background: #212121;
  /* box-shadow: 5px 5px 8px #1b1b1b, -5px -5px 8px #272727; */
  background-color: #181818;
  padding: 2rem 0rem 2rem 4rem;

  animation: fadeInAnimation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.titulo-subtitulo {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 5%;
  align-content: center;
}

.subgrupo {
  display: flex;
}

#area-cep {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
  /* background: #212121;
  box-shadow: 5px 5px 8px #1b*/
  background-color: #181818;
  border-radius: 1rem;
  height: 7rem;
  padding-bottom: 2%;

  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#area-cep,
#elemento-pai {
  width: 55rem;
}

#label-cep {
  padding-right: 2%;
}

#cep {
  border-radius: 8px;
  background: #2b2b2b;
  height: 3rem;
  width: 11rem;
  padding-left: 1rem;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-left: 2%;
}

#botao-pesquisacep {
  border-radius: 9px;
  border: thin;
  background-color: #6800ca;
  color: white;
  height: 3rem;
  width: 8rem;
  /* margin: 0px 5% 0px 12%; */
  outline: none;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 1s;
  transform-origin: 0% 0%;
}

#botao-pesquisacep:hover,
.icon-copiar:hover,
.botao-google-maps:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.botoes-copia-googlemaps {
  display: flex;
  /* align-items: center; */
  margin-left: -3%;
}

.botao-google-maps,
.icon-copiar {
  margin: 5%;
}

.areaInput {
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  border-radius: 5px;
  border: thin;
  background: #2b2b2b;
  margin-left: 5%;
  width: 20rem;
  height: 2.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 0 0 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus,
input:focus,
select:focus {
  outline: 0;
}

.botoes {
  position: absolute;
  left: 10%;
  top: 36rem;
  justify-content: space-around;
}

input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: blue;
}

.icon-copiar,
.icon-refresh {
  height: 3rem;
  width: 3rem;
  color: white;
  transition-duration: 1s;
  transform-origin: 0% 0%;
  /* position: relative;
  top: -2rem;
  left: 35rem; */
  --lord-icon-primary: white; /* Change this to the desired color */
}

#aviso-sucesso {
  display: none;
  color: white;
  background-color: #6800ca;
  font-size: 15px;
  width: 17rem;
  padding: 0 0 0 12px;
  height: 3rem;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 48rem;
  left: 0rem;

  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  animation: fadeOutAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  100% {
    opacity: 0%;
    display: none;
  }
}

/* Media Query */

@media only screen and (max-width: 767px) {
  /* Estilos para dispositivos com largura de tela de até 767px (geralmente dispositivos móveis em modo retrato) */
  body {
    background-image: none;
    background-size: cover;
    padding: 10rem 0 0 0;
    margin: auto;
    /* background-image: url(images/background.png); */
    background-color: #0d1116;
    /* max-height: 100vh; */
  }

  .content {
    padding: 5rem 1rem 0 1rem;
    margin-left: 0%;
    max-width: 100vw;
  }

  .titulo-subtitulo {
    padding-top: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    align-content: center;
  }

  #area-cep.areaInput {
    display: flex;
    flex-direction: column;
    width: 27rem;
    height: 15rem;
    align-items: baseline;
    align-items: center;
    /* padding-left: 5%; */
  }

  #cep {
    width: 20rem;
  }

  #botao-pesquisacep {
    width: 22rem;
    width: 22rem;
    margin: 1rem 0rem 1rem 0rem;
  }

  .botao-copia {
    background-color: transparent;
    border: thin;
    margin-right: 2rem;
  }

  #elemento-pai {
    width: 27rem;
    padding: 2rem 0 2rem 0rem;
    display: flex;
    justify-content: center;
  }

  input,
  #cep {
    height: 3.5rem;
  }

  #aviso-sucesso{
    display: block;
    position: relative;
    top: -4rem;
  }
}

/* Estilos para dispositivos móveis em modo paisagem */
@media only screen and (max-width: 767px) and (orientation: landscape) {
  /* Estilos que serão aplicados quando o dispositivo estiver em modo paisagem */
  body {
    margin: auto;
  }

  .content {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para dispositivos com largura de tela de 768px a 1023px (geralmente tablets em modo retrato) */
  body {
    margin: auto;
  }

  .content {
    display: flex;
    align-items: center;
  }
}
